#user
  = "User name: #{@user.name}, "
  = "email:  #{@user.email}, "
  = "created: #{japantime(@user.created_at)}, "
  = "updated: #{japantime(@user.updated_at)}"

#now= "It's #{japantime(Time.now)} now 日本時間."
